.app {
    padding: 0;
}

.app .rowapp {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.app .rowapp app-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #007bff;
}



/*
.container-fluid {
    padding: 0;
}

.container-fluid .row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
}

.container-fluid .row app-header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #007bff;
}*/